
{% extends 'base.html' %}
{% block content %}
<h3>Current Allocations <a class="btn btn-sm btn-success" href="{{ url_for('add_allocation') }}">Allocate Room</a></h3>
<table class="table"><thead><tr><th>ID</th><th>Student</th><th>Room</th><th>Since</th><th>Action</th></tr></thead>
<tbody>
{% for a in allocations %}
  <tr>
    <td>{{ a.allocation_id }}</td>
    <td>{{ a.student.fullname }} ({{ a.student.admission_no }})</td>
    <td>{{ a.room.room_no }} - {{ a.room.block.name }}</td>
    <td>{{ a.allocate_date }}</td>
    <td><a class="btn btn-sm btn-warning" href="{{ url_for('deallocate', allocation_id=a.allocation_id) }}">Deallocate</a></td>
  </tr>
{% endfor %}
</tbody></table>
{% endblock %}
